.root {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0.75rem;
  border: 1px solid #dee2e6;
  text-align: left;
  position: relative;

  &.expanded {
    border-bottom: 2px solid transparent;
  }

  td {
    padding: 0.75rem;
  }
}

.canClick {
  cursor: pointer;

  &:hover {
    background-color: #f8f9fa;
  }
}

.expand-icon {
  text-align: center;
  font-size: 2rem;
}

.expanded-content {
  border-top: none;
  padding: 0.75rem;
  transition: all 0.3s ease-in-out;
}
